* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #7e7e7e;
	margin-top: 2px;
	background: #fbfbfb;
	font-family: "josefin sans", sans-serif;
}
header	{
	border-top:2px solid #7e7e9e;
	border-bottom:2px solid #7e7e9e;
	background: #e9e9e9;
	text-align:center;
}
h1 	{
	font-family: 'Bentham', serif;
	font-size: 100px;
	font-weight: 300;
	color: #7e7e7e;
}
nav	{
	padding: 10px;
}
a {
	color:#7e7e7e;
	font-size: 18px;
}
#wrapper {
}
.about {
	width: 20%;
	float: left;
	text-align: justify;
	line-height: 20px;
	padding:1em;
}
.gallery {
	width:80%;
	float:left;
	padding:1em;
}
#homeimage {
	border: 3px solid;
	float:left;
	width: 33.33%;
	padding: 0 10px 10px 10px;
}
footer {text-align: center;
	clear: both;
	padding-top: 4px;
	font-size: 14px;
}
/*Blog Page*/
#wrapper2 { float: right;
}
.photobooth {border: solid;
			border-width: 5px;
			margin-top: 15px;
			margin-left: 20px;
			width: 45%;
			text-align: center;
			float: left;
			background-color: #e9e9e9;
			font-family: "josefin sans", sans-serif;
}
.photobooth img {border: solid;
				padding: 10px;
				border-width: 7px;
				width: 45%;
				}
.photobooth h2 {font-size: 30px;
				margin: 0px;
				padding: 0px;
				font-family: Bentham, serif;
}
.brunch	 {border: solid;
	border-width: 5px;
	margin-top: 15px;
	margin-right: 20px;
	width: 45%;
	text-align: center;
	float: right;
	background-color: #e9e9e9;
	font-family: "josefin sans", sans-serif;
}
.brunch img {border: solid;
				padding: 10px;
				border-width: 7px;
				width: 45%;
}
.brunch h2{font-size: 30px;
			margin: 0px;
			padding: 0px
			text-align: center;
			font-family: Bentham, serif;
}

